@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #007bff;
    --cor-fundo: #0a0a0a;    
    --cor-card: #ffffff;    
    --cor-botao-fundo: #1a1a1a;
    --cor-texto-claro: #f0f0f0;
    --cor-texto-escuro: #111;
    --cor-secundaria: #666; 
}

body, html {
    height: 100%;
}

body {
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    color: var(--cor-texto-claro);
}

.container {
    max-width: 420px;
    height: 80vh;
    width: 90%;
    background-color: var(--cor-card);
    border-radius: 20px;
    padding: 35px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    margin: auto;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.container > img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--cor-primaria);
    margin-bottom: 20px;
}

.container > h1 {
    color: var(--cor-texto-escuro);
    font-size: 1.9em;
    margin-bottom: 8px;
}

.container > h2 {
    color: var(--cor-secundaria);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 35px;
}

.container > section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.container > section > a {
    background-color: var(--cor-botao-fundo);
    color: var(--cor-card);
    text-decoration: none;
    text-align: center;
    font-weight: 500px;
    font-size: 1.1em;
    padding: 12px 20px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease, transform 0.1s ease;
}

.container > section > a > i {
    font-size: 1.2em;
    margin-left: 10px;
    order: 2
}

.container > section > a:hover {
    background-color: #555;
    color: #fff;
}

.container > section > a:active {
    background-color: #222;
    transform: scale(0.98);
    box-shadow: none
}

footer {
    width: 100%;
    text-align: center;
    color: var(--cor-texto-claro);
    border-top: 2px solid var(--cor-primaria);
    font-size: 0.9em;
    background-color: #111;
    padding: 10px 0px;
    margin-top: 30px;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}